<span id='spinnerTemplate' class='spinner' style="display:none;">
  <i class='icon-spin icon-refresh glyphicon glyphicon-refresh spin'></i>
</span>&nbsp;

<span id='spinnerTemplate' class='spinner' style="display:none;">
  <i class='icon-spin icon-refresh glyphicon glyphicon-refresh spin'></i>
</span>&nbsp;

<div id="qc-error-box" class='alert alert-danger' style="display:none;">
    <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
       <span aria-hidden='true'>&times;</span>
    </button><span 'msg'></span></div>
