<div id="stock-gate" class="gated_before">
  <div class="gate_before">
    <div class="gk-information">
      <h4>Note</h4>
      First fill out the information in the robot set-up box.
    </div>
  </div>
  <div class="gate_after">

    <div class="form-group">
      <label for="lot_plate" class="col-sm-5 control-label">Stock plate barcode</label>
      <div class="input-group col-sm-6">
        <%= input_glyph('barcode') %>
        <input type="text" class="form-control stock_field" id="lot_plate" name="lot_plate" placeholder="Scan stock plate barcode" required="required"
        autocomplete="off" value="<%= lot_plate %>">
      </div>
    </div>

    <div class="form-group">
      <label for="lot_bed" class="col-sm-5 control-label">Stock bed barcode</label>
      <div class="input-group col-sm-6">
        <%= input_glyph('barcode') %>
        <input type="text" class="form-control stock_field" id="lot_bed" name="lot_bed" placeholder="Scan stock bed barcode" required="required"
        autocomplete="off" value="<%= lot_bed %>">
      </div>
    </div>

    <div id="stock-information">

    </div>
  </div>
</div>
