<div id='gk-show-idt-page' class='gk-page'>
  <h1>Stamp plates</h1>
  </div><div class='col-md-12'>
    <%= render :partial => 'robot', :layout => :'layouts/section', :locals => {:title => "Robot Setup" } %>
    <%= render :partial => 'stock', :layout => :'layouts/section', :locals => {:title => "Robot Setup" } %>
    <%= render :partial => 'beds', :layout => :'layouts/section', :locals => {:title => "Robot Setup" } %>
  </div>
</div>
