<%= render :partial => 'shared/nav' %>
<div id='gk-new-qc-decision-page' class='gk-page'>
  <h1>QC Decision for Batch</h1>
  <div class='col-md-12'>
    <%= render :partial => 'batches/summary',
      :layout => :'layouts/section',
      :locals => {
        :title => "Batch Summary",
        :lots => @lots_presenter
      } %>
  </div>

  <!--  % @lots_presenter.each_lot_without_decision do |lot, lot_number, lot_uuid, type_name, template_name, lot_received_at| % >
    < %= form_for(lot, :url => lot_qc_decisions_path(lot_uuid)) do % >
      <h2>Lot < %= lot_number % > <a name="< %= lot_number % >" href="< %= new_lot_qc_decision_path(lot_uuid) % >"><button class="btn" type="button">Show</button></a>
</h2>
      <div class='col-md-6'>
        < %= render :partial => 'qc_decisions/qc_plates', :layout => :'layouts/section', :locals => {:title => "QC Plates", :presenter=>@lots_presenter.presenter_for(lot)} % >
      </div><div class='col-md-12'>
        < %= render :partial => 'qc_decisions/pending_plates', :layout => :'layouts/section', :locals => {:title => "Pending Plates", :presenter => @lots_presenter.presenter_for(lot)} % >
      </div>
    < % end % >
  < % end % -->
</div>
