<%= render :partial => 'shared/nav' %>
<div id='gk-show-idt-page' class='gk-page'>
  <h1>There was a problem...</h1>
  <div class='col-md-12'>
    <div class="alert alert-danger"><strong>Sorry!</strong> <%= @message %></div>
    <div class="alert alert-info"><%= link_to('Get back to the main page',:root) %></div>
  </div>
</div>
