<div id='gk-index-page' class='gk-page'>
  <h1 id='gk-index-title' class='gk-page-title'>
    <%= image_tag 'gate-kk.svg', alt: 'Reflected K Logo', class: 'logo'%>
    <%= Gatekeeper::Application.config.name %>
  </h1>
  <div class="col-sm-6">
    <div id='gk-index-menu' class='panel panel-primary'>
      <div class="panel-heading">Register Lots</div>
      <ul id='gk-index-menu-list' class='nav nav-pills nav-stacked'>
        <% Settings.lot_types.each do |lot_type,details| %>
          <li><%= link_to "Register #{lot_type} Lot", new_lot_path({:lot_type=>lot_type}), {:class=>'menu-item'} %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-sm-6">
    <div id='gk-index-menu' class='panel panel-primary'>
      <div class="panel-heading">Other Actions</div>
      <ul id='gk-index-menu-list' class='nav nav-pills nav-stacked'>
        <li><a href='#' class='menu-item' data-toggle="modal" data-target="#findIDT">View Lot</a></li>
      </ul>
    </div>
  </div>
</div>
<!--- Alerts and Dialogs -->
<%= render 'alerts/find_lot' %>
