<div class="alert alert-danger alert-dismissable unknown-error"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<span class="error-message">An unknown error has occured! Please contact support.</span></div>
