<tr>
  <td><%= no %></td>
  <td>Plate 1234567</td>
  <td>DN1234567R</td>
  <td><%= state %></td>
  <td><a href='#' class='destroy-plate'><span class="glyphicon glyphicon-trash"></span></a></td>
  <td><input type='checkbox' id='selected[1234567]'/></td>
</tr>
