<div id='gk-show-idt-page' class='gk-page'>
  <h1>IDT Tag Plate</h1>
  <div class='col-md-6'>
    <%= erb :'idt_stock/_summary', :layout => :'layouts/_section', :locals => {:title => "Summary"} %>
  </div><div class='col-md-6'>
    <%= erb :'idt_stock/_create_stamp_plates', :layout => :'layouts/_section', :locals => {:title => "Create Stamp Plates"} %>
  </div><div class='col-md-12'>
    <%= erb :'idt_stock/_plates', :layout => :'layouts/_section', :locals => {:title => "Plates", :progress => progress_helper} %>
  </div>
</div>
