<div id='show-idt-page' class='page'>
  <h1>IDT Tag Plate</h1>
  <%= erb :'idt_stock/_summary', :layout => :'layouts/_section', :locals => {:title => "Summary"} %>
  <%= erb :'idt_stock/_create_stamp_plates', :layout => :'layouts/_section', :locals => {:title => "Create Stamp Plates"} %>
  <%= erb :'idt_stock/_plates', :layout => :'layouts/_section', :locals => {:title => "Plates"} %>
</div>
