<table class='plate-table table table-striped'>
  <thead>
    <tr>
      <th>#</th>
      <th>Barcode</th>
      <th><!--Checkbox--></th>
    </tr>
  </thead>
  <tbody>
  <%- children.sort_by(&:index).each do |child| %>
    <%= render :partial => 'child_row', :locals => {:state => state, :child => child} %>
  <% end %>
  </tbody>
</table>
