<table class='plate-table table table-striped'>
  <thead>
    <tr>
      <th>#</th>
      <th>Barcode</th>
      <th><!--Checkbox--></th>
    </tr>
  </thead>
  <tbody>
  <%- plates.sort_by(&:index).each do |plate| %>
    <%= render :partial => 'plate_row', :locals => {:state => state, :plate => plate} %>
  <% end %>
  </tbody>
</table>
