<%= render :partial => 'shared/nav' %>
<div id='gk-show-idt-page' class='gk-page'>
  <h1>Register <%= @lot_type.name %> Lot</h1>
  <div class='col-md-12'>
    <%= render :partial => 'register', :layout => :'layouts/section', :locals => {:title => "Details", :lot_type=>@lot_type} %>
  </div>
</div>
