/* Gatekeeper
 * Compile to CSS with SASS
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* Our custom CSS */

$headerfonts: serif;
$bodyfonts: sans-serif;
$default-radius: 10px;

/* Global styles */
body {
  text-align: center;
}

.gk-page {
  width:   80%;
  margin:  2em auto 0 auto;
}

h1 {
  font:    2em $headerfonts;
  padding: 0.5em;
}

.gk-section {
  text-align: justify;
}

#gk-app-info {
  display:    block;
  clear:      both;
  margin:  0.5em auto;
  width:   80%;

  p {
    font-size: small;
  }
}

/* Gating */
.gated_before {
  .gate_before {
    display:block;
  }
  .gate_after {
    display: none !important;
  }
}

.gated_after {
  .gate_after {
    display:block;
  }
  .gate_before {
    display: none !important;
  }
}

/* Index page */
#gk-index-title {
  font:    5em $headerfonts;
  padding: 0.5em;
}

th {
  font-weight: bold;
}

.form-control-feedback {
  z-index: 3;
}

button.form-control { height: auto; min-height: 34px; }
