// Place all the styles related to the Lots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Show page */

.progress-collection {
  text-align: center;
}

.progress_summary {
  margin-bottom: 1em;
  text-align: left;

  .label {
    line-height: 2em;
    padding: 0.3em 1em 0.1em 1em;
  }
}
