<div class="form-group">
  <label for="idt_plate_upload" class="col-sm-5 control-label">Select a file to upload</label>

  <div class="file_upload">
    <%= file_field_tag :upload, required: true %>
  </div>

</div>
