<div class="form-group">
  <label for="user_swipecard" class="col-sm-5 control-label">User swipecard</label>
  <div class="input-group col-sm-6">
    <%= input_glyph('barcode') %>
    <input type="password" class="form-control default-input" id="user_swipecard" name="user_swipecard" placeholder="Touch card against card-reader" required="required" data-container="body" data-placement="top" data-content="Could not find user, you may need to register your swipecard.">
  </div>
</div>
