<!DOCTYPE html>
<html lang='en'>
<head>
  <title><%= Gatekeeper.config.app_name %></title>
  <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/stylesheets/jqui-theme/jquery-ui.css" rel="stylesheet"  type="text/css">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"  type="text/css">
  <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet"  type="text/css">
</head>
<body class='env-<%= settings.environment %>'>
  <%= yield %>
  <div id='app-info'>
    <p><%= Gatekeeper.application_string %></p>
  </div>
  <script src='/scripts/jquery.js'></script>
  <script src='/scripts/jquery-ui.js'></script>
  <script src='/scripts/bootstrap.min.js'></script>
  <script src='/scripts/application.js'></script>
</body>
</html>
